body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
input {
    width: 150px;
}

.contenedor {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#matriz {
    display: flex;
}

.caja > input {
    margin: 0 20px 0 2px;
}
#contenedor-tabla {
    flex-grow: 1;
    margin: 20px;
    display: grid;
    place-content: center;

}
#tabla {
    margin: auto;
    text-align: center;
}

td {
    width: 32px;
    border: 1px solid rgb(6, 122, 2);
}