<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="./css/ejercicio2.css">
</head>
<body>
    <nav>
        <ul>
            <li>Ejercicio 2</li>
            <li><a href="/ejercicio1"><button class="btn-nav">Ejercicio N°1</button></a></li>
            <li><a href="/ejercicio3"><button class="btn-nav">Ejercicio N°3</button></a></li>
            <li><a href="/"><button class="btn-nav">Ejercicio N°4</button></a></li>
        </ul>
    </nav>
    <main>
        <table id="lista">
            <tr><th>Nombres</th></tr>
        </table>

        <table id="objeto">
            <tr><th colspan="2">Array de objetos</th></tr>
        </table>
    </main>
    <script src="./js/ejercicio2.js"></script>
</body>
</html>