<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" href="./css/ejercicio4.css">
</head>
<body>
    <nav>
        <ul>
            <li>Ejercicio 4</li>
            <li><a href="ejercicio1"><button class="btn-nav">Ejercicio N°1</button></a></li>
            <li><a href="ejercicio2"><button class="btn-nav">Ejercicio N°2</button></a></li>
            <li><a href="ejercicio3"><button class="btn-nav">Ejercicio N°3</button></a></li>
        </ul>
    </nav>
    <div class="contenedor">
        <form action="" id="matriz">
            <div class="caja">
                <label for="fila">fila</label>
                <input type="number" step="1" id="fila" name="fila" max="50" min="1" required>
            
                <label for="columna">columna</label>
                <input type="number"  step="1" id="columna" name="columna" max="50" min="1" required>
            </div>
            <div>
                <button class="generar" type="submit">Generar matriz</button>
            </div>
        </form>
        <div id="boton">
            <!-- botón generado -->
        </div>
        <div>
            <a href="matriz"><button>Ver matrices guardadas</button></a>
        </div>
        
    </div>
    <div id="contenedor-tabla">
        <table id="tabla" >
        
        </table>
    </div>
    <script src="./js/ejercicio4.js" type="module"></script>
</body>
</html>