<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="./css/ejercicio1.css">
</head>
<body>
    <nav>
        <ul>
            <li>Ejercicio 1</li>
            <li><a href="ejercicio2"><button class="btn-nav">Ejercicio N°2</button></a></li>
            <li><a href="ejercicio3"><button class="btn-nav">Ejercicio N°3</button></a></li>
            <li><a href="/"><button class="btn-nav">Ejercicio N°4</button></a></li>
        </ul>
    </nav>
    <form action="">
        <button type="submit">Generar Rut aleatorio</button>
    </form>
    <div id="respuesta">
        
    </div>
    <script src="./js/ejercicio1.js"></script>
</body>
</html>