<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="contenedor">
        <form action="" id="matriz">
            <div class="caja">
                <label for="fila">fila</label>
                <input type="number" step="1" id="fila" name="fila" max="50" min="1">
            
                <label for="columna">columna</label>
                <input type="number"  step="1" id="columna" name="columna" max="50" min="1">
            </div>
            <div>
                <button class="generar" type="submit">Generar matriz</button>
            </div>
        </form>
        <div id="boton">
            <!-- boton generado -->
        </div>
        <div>
            <a href="matriz"><button>Ver matrices guardadas</button></a>
        </div>
        
    </div>
    <div id="contenedor-tabla">
        <table id="tabla" >
        
        </table>
    </div>
    <script src="./js/index.js" type="module"></script>
</body>
</html>