<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="matriz">
        <label for="fila">fila</label>
        <input type="number" step="1" id="fila" name="fila" max="50" min="1">
        <br>
        <br>
        <label for="columna">columna</label>
        <input type="number"  step="1" id="columna" name="columna" max="50" min="1">

        <button type="submit">Generar matriz</button>
    </form>
    </br>
    <div id="boton">
        
    </div>

    <div>
        <a href="matriz"><button>asdasdas</button></a>
    </div>

    <table id="tabla" >

    </table>

    <script src="./js/index.js" type="module"></script>
</body>
</html>