<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="button">ver matrices</button>
    <form action="" id="busqueda">
        <label for="id">Buscar por id</label>
        <input type="number" id="id" name="id" step="1">
        <button type="submit">Buscar</button>
    </form>
    <div id="matrices">

    </div>
    <script src="./js/matrices.js" type="module"></script>
</body>
</html>